<div class="container-fluid">
	<div class="row mt-3">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
				
					<div class="form-group row">
						<div class="col-md-6">
							<label id="name" for="name">Sim :</label>
							<input type="text" id="name" class="form-control" ng-model="form.sim"
								placeholder="Tên sản phẩm" />							
						</div>
						<!--  -->
						<div class="col-md-6">
							<div>
								<label id="category">Danh Mục :</label>
								<select id="category" class="form-control valid" ng-model="form.category.id"
									aria-invalid="false" name="category">
									<option ng-repeat="c in cates" ng-value="c.id">{{c.name
										}}</option>
								</select>
							</div>
						</div>
												
							
							<div class="col-md-6">
								<label for="price">Cổng Kết Nối/Sạc:</label> 
								<input type="text" id="name" class="form-control" ng-model="form.chargePort"
								placeholder="cổng kết nối" />
							</div>
							<div class="col-md-6">
								<label for="price">Jack Tai Nghe:</label> 
								<input type="text" id="name" class="form-control" ng-model="form.headphoneJack"
								placeholder="jack tai nghe" />
							</div>
							<div class="col-md-6">
								<label id="name" for="name">Hỗ Trợ 5G :</label>
								<input type="checkbox" id="name" class="form-control" ng-model="form.support"
								placeholder="" />
							</div>
						</div>
						
					
					<div class="form-footer">
						<button ng-if="form.id == null" class="btn btn-success" ng-click="create()">
							<i class="fa fa-check-square-o"></i> Thêm
						</button>
						<button ng-if="form.id != null" class="btn btn-warning" ng-click="update(form)">
							<i class="fa fa-check-square-o"></i> Cập nhật
						</button>
						<button ng-if="form.id != null" class="btn btn-dark" ng-click="reset()"> <i class="fa fa-refresh"
								aria-hidden="true"></i> Làm mới
						</button>
						<button ng-if="form.id != null" class="btn btn-danger" ng-click="delete(form)">
							<i class="fa fa-times"></i> Xóa
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay toggle-menu"></div>
</div>