<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="users/layout1 :: layout(~{::title}, ~{::body})">
<head>
<meta charset="UTF-8">
<title>Techno Shop</title>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div class="boxed">
		<section id="header" class="header">
			<th:block th:replace="users/headers/header1 :: header-top"></th:block>
			<th:block th:replace="users/headers/header2 :: header-middle"></th:block>
			<th:block th:replace="users/headers/header3 :: header-bot"></th:block>
		</section>
		<!-- /#header -->

		<div class="container" style="margin-bottom: 25px;">
			<br>


			<h3 class="title" style="font-weight: 700">Thay đổi mật khẩu</h3>
			<br>


			<div class="row">
				<div class="col-sm-4">
					<div class="quan-li-thong-tin">
						<li class="nav-item2 " style="list-style-type: none;"><a
							class="nav-link collapsed" th:href="@{/account/edit}"
							ata-toggle="collapse">
								<div class="row">
									<div class="col-sm-2">
										<i class="fas fa-info-circle"></i>
									</div>
									<div class="col-sm-10" style="padding: 0px 15px;">
										<span> <b>Thông tin cá nhân</b>
											<p>Quản lý thông tin cá nhân</p>
										</span>
									</div>
								</div>
						</a></li>
					</div>
					<li class="nav-item2 active" style="list-style-type: none;"><a
						class="nav-link collapsed" data-toggle="collapse"
						data-target="#collapseNews" aria-expanded="true"
						aria-controls="collapseNews">
							<div class="row">
								<div class="col-sm-2">
									<i class="fas fa-key"></i>
								</div>
								<div class="col-sm-10" style="padding: 0px 15px;">
									<span> <b>Thay đổi mật khẩu</b>
										<p>Cập nhật mật khẩu mới</p>
									</span>
								</div>
							</div>
					</a></li>
					<li class="nav-item2" style="list-style-type: none;"><a
						class="nav-link collapsed" th:href="@{/order/history}"
						data-target="#collapseTwo" aria-expanded="true"
						aria-controls="collapseTwo">
							<div class="row">
								<div class="col-sm-2">
									<i class="fas fa-shopping-cart"></i>
								</div>
								<div class="col-sm-10" style="padding: 0px 15px;">
									<span> <b>Lịch sử đơn hàng</b>
										<p>Thông tin sản phẩm đã mua</p>
									</span>
								</div>
							</div>
					</a></li>

				</div>

				<div class="col-sm-8">
					<div class="ct1">
						<div>
							<h4 style="font-weight: 600">Thay đổi mật khẩu</h4>
							<hr>
							<h4 class="label label-success"></h4>
							<i class="message-account">[[${message}]]</i> <br>
							<form th:action="@{/account/repass}" method="post"
								id="form-register" enctype="multipart/form-data">
								<div class="form-register">
									<div class="form-box">
										<label for="name-register">Tên đăng nhâp * </label> <input
											type="text" id="name-register" name="name-register"
											th:value="${#request.remoteUser }" readonly="readonly">
									</div>
									<div class="form-box">
										<label for="pw">Mật khẩu hiện tại * </label> <input
											type="password" id="pw" name="pw"
											required="required" pattern=".{6,}"
											title="Mật khẩu phải từ 6 ký tự trở lên"
											placeholder="Phải có ít nhất 6 kí tự">
									</div>
									<div class="form-box">
										<label for="pw1">Mật khẩu mới * </label> <input
											type="password" id="pw1" name="pw1"
											required="required" pattern=".{6,}"
											title="Mật khẩu phải từ 6 ký tự trở lên"
											placeholder="Phải có ít nhất 6 kí tự">
									</div>
									<!-- /.form-box -->
									<div class="form-box">
										<label for="pw2">Xác nhận mật khẩu * </label> <input
											type="password" id="pw2" name="pw2"
											pattern=".{6,}" title="Mật khẩu phải từ 6 ký tự trở lên"
											placeholder="Phải có ít nhất 6 kí tự">
									</div>
									<div class="form-box">
										<button type="submit" class="register">Đổi mật khẩu</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="users/footers/footer :: footer"></th:block>
	</div>
	<th:block th:replace="users/config/css_js :: link_css"></th:block>
</body>
</html>