<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section class="flat-row flat-slider" th:fragment="slider">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="slider owl-carousel">
						<div class="slider-item style2">
							<div class="item-text">
								<div class="header-item">
									<p>SẢN PHẨM MỚI</p>
									<h2 class="name">
										IPHONE <span>14 PRO</span>
									</h2>
								</div>
								<div class="divider65"></div>
								<div class="content-item">
									<div class="price">
										<span class="sale">30.590.000</span> <span class="btn-shop">
											<a th:href="@{/#}" title="">MUA NGAY<img
												th:src="@{/assets/images/icons/right-2.png}" alt=""></a>
										</span>
										<div class="clearfix"></div>
									</div>
									<div class="regular">30.990.000Đ</div>
								</div>
							</div>
							<div class="item-image">
								<!-- <div class="sale-off">
									60 % <span>sale</span>
								</div> -->
								<img th:src="@{/assets/images/slider/banner1.png}" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- /.slider -->
						<div class="slider-item">
							<div class="item-text">
								<div class="header-item">
									<p>SẢN PHẨM MỚI</p>
									<h2 class="name">
										MACBOOK <span>PRO 14 M1 MAX</span>
									</h2>
									<p>MacBook Pro 14 inch M1 Max 2021 xứng tầm là chiếc laptop cao cấp chuyên dụng dành cho dân kỹ thuật - đồ họa, sáng tạo nội dung.</p>
								</div>
								<div class="content-item">
									<div class="price">
										<span class="sale">71.900.000Đ</span> <span class="btn-shop">
											<a th:href="@{/#}" title="">MUA NGAY<img
												th:src="@{/assets/images/icons/right-2.png}" alt=""></a>
										</span>
										<div class="clearfix"></div>
									</div>
									<!-- <div class="regular">$2.500.99</div> -->
								</div>
							</div>
							<div class="item-image">
								<img th:src="@{/assets/images/slider/banner2.png}" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- /.slider -->
						<div class="slider-item style2">
							<div class="item-text">
								<div class="header-item">
									<p>SẢN PHẨM MỚI</p>
									<h2 class="name">
										IPHONE <span>14 PRO MAX</span>
									</h2>
								</div>
								<div class="divider65"></div>
								<div class="content-item">
									<div class="price">
										<span class="sale">33.590.000</span> <span class="btn-shop">
											<a th:href="@{/#}" title="">MUA NGAY<img
												th:src="@{/assets/images/icons/right-2.png}" alt=""></a>
										</span>
										<div class="clearfix"></div>
									</div>
									<div class="regular">33.990.000Đ</div>
								</div>
							</div>
							<div class="item-image">
								<div class="sale-off">
									1 % <span>sale</span>
								</div>
								<img th:src="@{/assets/images/slider/banner3.png}" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- /.slider -->
						<div class="slider-item">
							<div class="item-text">
								<div class="header-item">
									<p>SẢN PHẨM MỚI</p>
									<h2 class="name">
										IPAD <span>PRO M1</span>
									</h2>
									<p>iPad Pro M1 thiết kế hình hộp vát cạnh vuông vức, hiện đại với thân máy bằng kim loại chắc chắn, hoàn thiện tỉ mỉ và sang trọng, trọng lượng nhẹ, kích cỡ hợp lý thuận tiện sử dụng và mang theo.</p>
								</div>
								<div class="content-item">
									<div class="price">
										<span class="sale">41.990.000Đ</span> <span class="btn-shop">
											<a th:href="@{/#}" title="">MUA NGAY<img
												th:src="@{/assets/images/icons/right-2.png}" alt=""></a>
										</span>
										<div class="clearfix"></div>
									</div>
									<div class="regular">46.990.000Đ</div>
								</div>
							</div>
							<div class="item-image">
								<img th:src="@{/assets/images/slider/banner4.png}" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- /.slider -->
						<div class="slider-item style2">
							<div class="item-text">
								<div class="header-item">
									<p>SANE PHẨM MỚI</p>
									<h2 class="name">
									 TAI NGHE<span> BEATS</span>
									</h2>
								</div>
								<div class="divider65"></div>
								<div class="content-item">
									<div class="price">
										<span class="sale">4.490.000Đ</span> <span class="btn-shop">
											<a th:href="@{/#}" title="">MUA NGAY <img
												th:src="@{/assets/images/icons/right-2.png}" alt=""></a>
										</span>
										<div class="clearfix"></div>
									</div>
									<div class="regular">7.490.000Đ</div>
								</div>
							</div>
							<div class="item-image">
								<div class="sale-off">
									40 % <span>sale</span>
								</div>
								<img th:src="@{/assets/images/slider/02.png}" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- /.slider -->
						<div class="slider-item">
							<div class="item-text">
								<div class="header-item">
									<p>SẢN PHẨM MỚI</p>
									<h2 class="name">
										 TAI NGHE <span>AIRPODS 3</span>
									</h2>
									<p>Tai nghe Bluetooth AirPods 3 Lightning Charge Apple MPNY3 Trắng sở hữu thiết kế gọn nhẹ, màu sắc trang nhã cùng nhiều công nghệ hiện đại đang chờ đón các iFan như: kết nối Bluetooth, Adaptive EQ, Chip Apple H1.</p>
								</div>
								<div class="content-item">
									<div class="price">
										<span class="sale">5.390.000Đ</span> <span class="btn-shop">
											<a th:href="@{/#}" title="">MUA NGAY<img
												th:src="@{/assets/images/icons/right-2.png}" alt=""></a>
										</span>
										<div class="clearfix"></div>
									</div>
									<!-- <div class="regular">$2.500.99</div> -->
								</div>
							</div>
							<div class="item-image">
								<img th:src="@{/assets/images/slider/banner6.png}" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- /.slider -->
					</div>
					<!-- /.slider -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>
	<!-- /.flat-slider -->
</body>
</html>