<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="users/layout1 :: layout(~{::title}, ~{::body})">
<head>
<meta charset="UTF-8">
<title>Đăng nhập</title>
</head>
<body class="header_sticky" ng-app="shopping-cart-app"
	ng-controller="shopping-cart-ctrl">
	<div th:replace="users/loading/loading :: loading"></div>
	<div class="boxed">
		<section id="header" class="header">
			<th:block th:replace="users/headers/header1 :: header-top"></th:block>
			<th:block th:replace="users/headers/header2 :: header-middle"></th:block>
			<th:block th:replace="users/headers/header3 :: header-bot"></th:block>
		</section>
		<!-- /#header -->
		<section class="flat-account background">
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="form-login">
							<div class="title">
								<h3>ĐĂNG NHẬP</h3>
							</div>
							<i class="message-account">[[${message}]]</i> <br>
							<form th:action="@{/account/login}" method="Post" id="form-login"
								accept-charset="utf-8">
								<div class="form-box">
									<label for="name-login">Tên đăng nhập * </label> <input
										type="text" id="name-login" name="username"
										placeholder="Tên đăng nhập?">
								</div>
								<!-- /.form-box -->
								<div class="form-box">
									<label for="password-login">Mật khẩu * </label> <input
										type="password" id="password-login" name="password"
										placeholder="Mật khẩu của bạn?">
								</div>
								<!-- /.form-box -->
								<div class="form-box checkbox">
									<input type="checkbox" id="remember" checked name="remember">
									<a th:href="@{/account/forgotpassword}" title="">Quên mật
										khẩu?</a>
								</div>
								<!-- /.form-box -->
								<div class="form-box">

									<button type="submit" class="login">Đăng nhập</button>
									<ul
										class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
										<li><a th:href="@{/oauth2/authorization/google}"
											class="pinterest">
												<div class="front">
													<i class="fa fa-google" aria-hidden="true"></i>
												</div>
										</a></li>
										<li><a th:href="@{/oauth2/authorization/facebook}"
											class="facebook">
												<div class="front">
													<i class="fa fa-facebook" aria-hidden="true"></i>
												</div>
										</a></li>
									</ul>
								</div>
								<br> <br>
								<div class="col-12 hp-form-info text-center">
									<span
										class="text-black-80 hp-text-color-dark-40 hp-caption me-4">Bạn
										chưa có tài khoản?</span> <a
										class="text-primary-1 hp-text-color-dark-primary-2 hp-caption"
										th:href="@{/account/register}">Tạo tài khoản mới</a>
								</div>

								<!-- /.form-box -->
							</form>
							<!-- /#form-login -->
						</div>
						<!-- /.form-login -->
					</div>
					<!-- /.col-md-6 -->

					<!-- /.col-md-6 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.flat-account -->
		<th:block th:replace="users/footers/footer :: footer"></th:block>
	</div>
	<!-- /.boxed -->
	<th:block th:replace="users/config/css_js :: link_css">
</body>
</html>