<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="users/layout1 :: layout(~{::title}, ~{::body})">
<head>
<meta charset="UTF-8">
<title>Techno Shop</title>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div class="boxed">
		<section id="header" class="header">
			<th:block th:replace="users/headers/header1 :: header-top"></th:block>
			<th:block th:replace="users/headers/header2 :: header-middle"></th:block>
			<th:block th:replace="users/headers/header3 :: header-bot"></th:block>
		</section>
		<!-- /#header -->
		<section class="flat-row flat-accordion">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="accordion">
							<div class="title">
								<h3>Trả lời cho những câu hỏi của bạn</h3>
							</div>
							<div class="accordion-toggle">
								<div class="toggle-title">Chính sách hoàn trả quốc tế của
									bạn là gì?</div>
								<div class="toggle-content">
									<p>hách hàng là rất quan trọng, khách hàng sẽ được theo dõi
										bởi khách hàng. Nó nằm trong lớp thứ hai. Anh ta được cho là
										đã sống ở con phố này. Cho đến khi đó là thời gian của tác
										giả. Nhưng ai bảo phải nở một nụ cười độc địa? Vivamus
										ullamcorper orci vitae eros tincidunt, một dapibus hồ nước yên
										tĩnh. Nhưng nó sẽ theo sau, nó hoặc là đầu tư vốn, nó chỉ là
										một tài sản, và không phải là một hồ vốn và tiếng cười. Vì
										ngày mai sẽ không có giá. Nằm trước mặt anh ấy đầu tiên trong
										cổ họng của bệnh viện, những chiếc giường chăm sóc;</p>
								</div>
							</div>
							<!-- /.accordion-toggle -->
							<div class="accordion-toggle">
								<div class="toggle-title">Làm thế nào tôi có thể tìm thấy
									chính sách giao hàng quốc tế của bạn?</div>
								<div class="toggle-content">
									<p>Khách hàng là rất quan trọng, khách hàng sẽ được theo
										dõi bởi khách hàng. Nó nằm trong lớp thứ hai. Cho đến khi đầu
										tư, nisl không có rung động, nhưng bây giờ là sapien laoreet
										massa, và nguyên tố của cung cũng không phải là sự sống. Đó là
										phần lớn nhất của thung lũng, người đứng đầu các công ty lớn.
										Để đặt nó, nó là một eros faucibus feugiat. Không cần hãng
										hàng không được vận chuyển từ bất kỳ địa điểm nào. Anh ta được
										cho là đã sống ở con phố này. Cho đến khi đó là thời gian của
										tác giả. Nhưng ai bảo phải nở một nụ cười độc địa? Vivamus
										ullamcorper orci vitae eros tincidunt, một dapibus hồ nước yên
										tĩnh.</p>
								</div>
							</div>
							<!-- /.accordion-toggle -->
							<div class="accordion-toggle">
								<div class="toggle-title active">Tôi nên làm gì nếu đơn
									hàng của tôi vẫn chưa được giao?</div>
								<div class="toggle-content">
									<p>Khách hàng là rất quan trọng, khách hàng sẽ được theo
										dõi bởi khách hàng. Nó nằm trong lớp thứ hai. Cho đến khi đầu
										tư, nisl không có rung động, nhưng bây giờ là sapien laoreet
										massa, và nguyên tố của cung cũng không phải là sự sống. Đó là
										phần lớn nhất của thung lũng, người đứng đầu các công ty lớn.
										Để đặt nó, nó là một eros faucibus feugiat. Không cần hãng
										hàng không được vận chuyển từ bất kỳ địa điểm nào. Anh ta được
										cho là đã sống ở con phố này. Cho đến khi đó là thời gian của
										tác giả. Nhưng ai bảo phải nở một nụ cười độc địa? Vivamus
										ullamcorper orci vitae eros tincidunt, một dapibus hồ nước yên
										tĩnh. Nhưng nó sẽ theo sau, nó hoặc là đầu tư vốn, nó chỉ là
										một tài sản, và không phải là một hồ vốn và tiếng cười. Vì
										ngày mai sẽ không có giá.</p>
								</div>
							</div>
							<!-- /.accordion-toggle -->
							<div class="accordion-toggle">
								<div class="toggle-title">Làm cách nào tôi có thể nhận
									được ghi chú trả hàng mới?</div>
								<div class="toggle-content">
									<p>Khách hàng là rất quan trọng, khách hàng sẽ được theo
										dõi bởi khách hàng. Nó nằm trong lớp thứ hai. Cho đến khi đầu
										tư, nisl không có rung động, nhưng bây giờ là sapien laoreet
										massa, và nguyên tố của cung cũng không phải là sự sống. Đó là
										phần lớn nhất của thung lũng, người đứng đầu các công ty lớn.
										Để đặt nó, nó là một eros faucibus feugiat. Không cần hãng
										hàng không được vận chuyển từ bất kỳ địa điểm nào. Anh ta được
										cho là đã sống ở con phố này. Cho đến khi đó là thời gian của
										tác giả. Nhưng ai bảo phải nở một nụ cười độc địa? Vivamus
										ullamcorper orci vitae eros tincidunt, một dapibus hồ nước yên
										tĩnh.</p>
								</div>
							</div>
							<!-- /.accordion-toggle -->
							<div class="accordion-toggle">
								<div class="toggle-title">Tôi là khách hàng quốc tế, bạn
									đã nhận được hàng trả lại của tôi chưa?</div>
								<div class="toggle-content">
									<p>Khách hàng là rất quan trọng, khách hàng sẽ được theo
										dõi bởi khách hàng. Nó nằm trong lớp thứ hai. Anh ta được cho
										là đã sống ở con phố này. Cho đến khi đó là thời gian của tác
										giả. Nhưng ai bảo phải nở một nụ cười độc địa? Vivamus
										ullamcorper orci vitae eros tincidunt, một dapibus hồ nước yên
										tĩnh. Nhưng nó sẽ theo sau, nó hoặc là đầu tư vốn, nó chỉ là
										một tài sản, và không phải là một hồ vốn và tiếng cười. Vì
										ngày mai sẽ không có giá. Nằm trước mặt anh ấy đầu tiên trong
										cổ họng của bệnh viện, những chiếc giường chăm sóc,</p>
								</div>
							</div>
							<!-- /.accordion-toggle -->
							<div class="accordion-toggle">
								<div class="toggle-title">Làm cách nào tôi có thể nhận
									được ghi chú trả hàng mới?</div>
								<div class="toggle-content">
									<p>Khách hàng là rất quan trọng, khách hàng sẽ được theo
										dõi bởi khách hàng. Nó nằm trong lớp thứ hai. Cho đến khi đầu
										tư, nisl không có rung động, nhưng bây giờ là sapien laoreet
										massa, và nguyên tố của cung cũng không phải là sự sống. Đó là
										phần lớn nhất của thung lũng, người đứng đầu các công ty lớn.
										Để đặt nó, nó là một eros faucibus feugiat. Không cần hãng
										hàng không được vận chuyển từ bất kỳ địa điểm nào. Anh ta được
										cho là đã sống ở con phố này. Cho đến khi đó là thời gian của
										tác giả. Nhưng ai bảo phải nở một nụ cười độc địa? Vivamus
										ullamcorper orci vitae eros tincidunt, một dapibus hồ nước yên
										tĩnh.</p>
								</div>
							</div>
							<!-- /.accordion-toggle -->
						</div>
						<!-- /.accordion -->
					</div>
					<!-- /.col-md-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.flat-accordion -->
		<th:block th:replace="users/footers/footer :: footer"></th:block>
	</div>
	<th:block th:replace="users/config/css_js :: link_css"></th:block>
</body>
</html>