<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="users/layout1 :: layout(~{::title}, ~{::body})">
<head>
<meta charset="UTF-8">
<title>Bản tin</title>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div class="boxed">
		<div th:replace="users/loading/loading :: loading"></div>
		<section id="header" class="header">
			<th:block th:replace="users/headers/header1 :: header-top"></th:block>
			<th:block th:replace="users/headers/header2 :: header-middle"></th:block>
			<th:block th:replace="users/headers/header3 :: header-bot"></th:block>
		</section>
		<!-- /#header -->
		<section class="main-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-9">
						<div class="post-wrap style2">
							<article class="main-post style2" th:each="blog: ${blogList}">
								<div class="featured-post">
									<a th:href="@{|/blog/detail/${blog.id}|}" title=""> <img
										th:src="@{|/assets/images/product/${blog.product.mainImage}|}"
										alt="" style="width: 250px; height: 250px">
									</a>
								</div>
								<!-- /.featured-post -->
								<div class="divider26"></div>
								<div class="content-post">
									<h3 class="title-post">
										<a th:href="@{|/blog/detail/${blog.id}|}" title="">[[${blog.title}]]</a>
									</h3>
									<ul class="meta-post">
										<li class="comment"><a href="#" title="">
												[[${blog.users.lastName+' '+blog.users.firstName}]] </a></li>
										<li class="date"><a href="#" title="">
												[[${blog.createDate}]] </a></li>
									</ul>
									<div class="entry-post">
										<p
											style="-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box;">[[${blog.contents}]]</p>
										<div class="more-link">
											<a th:href="@{|/blog/detail/${blog.id}|}" title="">Xem
												thêm <span> <img
													th:src="@{/assets/images/icons/right-2.png}" alt="">
											</span>
											</a>
										</div>
									</div>
								</div>
								<!-- /.content-post -->
							</article>
							<!-- /.main-post style2 -->
							<div class="clearfix"></div>
						</div>
						<!-- /.post-wrap style2 -->
						<div class="blog-pagination style3">
							<ul class="flat-pagination">
								<li class="prev"><a href="#" title=""> <img
										th:src="@{/assets/images/icons/left-1.png}" alt="">Trang
										trước
								</a></li>
								<li class="next"><a href="#" title=""> Trang sau<img
										th:src="@{/assets/images/icons/right-1.png}" alt="">
								</a></li>
							</ul>
							<!-- /.flat-pagination -->
						</div>
						<!-- /.blog-pagination style3 -->
					</div>
					<!-- /.col-md-8 col-lg-9 -->
					<div class="col-md-4 col-lg-3">
						<div class="sidebar left">
							<div class="widget widget-search">
								<form action="#" method="get" accept-charset="utf-8">
									<input type="text" name="widget-search"
										placeholder="Tìm kiếm tin tức">
								</form>
							</div>
							<div class="widget widget-products">
								<div class="widget-title">
									<h3>Tin tức liên quan</h3>
								</div>
								<ul class="product-list">
									<li th:each="blog: ${blogList}">
										<div class="img-product">
											<a th:href="@{|/blog/detail/${blog.id}|}" title=""> <img
												th:src="@{|/assets/images/product/${blog.product.mainImage}|}"
												alt="" style="height: 100px">
											</a>
										</div>
										<div class="info-product">
											<div class="name"
												style="-webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box;">
												<a th:href="@{|/blog/detail/${blog.id}|}" title=""><b>[[${blog.title}]]</b>
												</a>
											</div>
											<div class="name"
												style="-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; display: -webkit-box;">
												<a href="#" title="">[[${blog.contents}]] </a>
											</div>
										</div>
									</li>

								</ul>
							</div>
							<!-- /.widget widget-products -->
							<div class="widget widget-tags">
								<div class="widget-title">
									<h3>Loại danh mục</h3>
								</div>
								<ul class="tag-list">
									<li th:each="cate: ${listCate}"><a href="#"
										class="waves-effect waves-teal" title="">[[${cate.name}]]</a>
									</li>

								</ul>
							</div>
							<!-- /.widget widget-tags -->
						</div>
						<!-- /.sidebar left -->
					</div>
					<!-- /.col-md-4 col-lg-3 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.main-blog -->
		<th:block th:replace="users/footers/footer :: footer"></th:block>
	</div>
	<th:block th:replace="users/config/css_js :: link_css"></th:block>
</body>
</html>